{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="centered clearfix">
            <div class="center">
                <h1>Page not found</h1>
                <p>
                    That link is broken.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
