{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="centered clearfix">
            <div class="center">
                <h1>Web Site Under Maintenance </h1>
                <p>Please excuse us while we do some maintenance. Please check back in a few minutes.</p>
            </div>
        </div>
    </div>
{% endblock %}
